div#container { 
        width: 800px;

 }
h2 { 
     color: #0033CC;
     font-weight: bold;
     font-size: 3em;
     padding: 0em;
     margin: 0px;
 }

h3 { 
     color: #CC0033;
     font-weight: bold;
     font-size: 1.6em;
     padding-left: 1em;
     text-align: left;
 }

p { 
     color: #000000;
     font-size: 12pt;
     padding-left: 1.5em;
     text-align: left;
 }

ul { 
     color: #444444;
     font-size: 12pt;
     padding-left: 1.5em;
     text-align: left;
 }

h4 { 
     font-weight: bold;
 }

div.header { 
     padding: 0.5em;
     margin: 1em;
     border-bottom: 2px solid rgb(100,100,100);
 }

table.formtable { 
     width: 600px;
     font-size: 1.5em;
     font-weight: bold;        
 }

input { 
     height: 1.5em;
     border: 1px solid #000000;
     font-weight: bold;
     font-size: 0.8em;
     color: #000000;
 }