<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>University of Mysore :: Network Services</title>
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">    
<!--[if IE]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
</head>
<body>

<div align="center">
<div id="container">
  <div class="header">
    <h2>Migration Assistant</h2>
  </div>
<h3>What has changed ?</h3>

<p>
The Organization is in the process of enhancing the network services to provide a better and stable user experience.<br><br>

The email services are now hosted at UberCloudProvider. The following are the changes that affect your user account.<br>
<ul>
  <li>Your username/email address is retained. If your username was user@dept.organization, this remains the same</li>
  <li>Your password is now changed for accessing the new emails. To obtain your new password, please <a href="/manager/verify" >click this link</a> and authenticate yourself using your current email and password.</li>
  <li>Your current (Old/Non-UberCool) emails can still be accessed by providing your current (Old/Non-UberCool) username and password at <b>http://webmail.department.organization/</b></li>
  <li>If you are a staff member of the University and have not started using the University's Email services, now is a golden opportunity to do so. Please send an email to netsupport@organization with your contact information and other details.</li>
</ul>
</p>
<h3><a href="/manager/verify" >Click here to obtain new password</a></h3>

</div>
</div>
<hr>
<!-- hhmts start -->Last modified: Wed Dec 10 16:25:19 IST 2008 <!-- hhmts end -->
<br>
<b>supported by <a href="http://www.informedia.co.in/" >informedia</a></b>
</body>
</html>
